.homepage {
  width: 100%;
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
  
  .container {
      height: 100%;
      border: 8px solid #55c5d5;
      border-radius: 5px;
      background-color: white;
      padding-bottom: 40px;
    h2{
        padding: 8px 20px;
        width: 100%;
        background-color: rgb(248, 233, 233);
        margin-bottom: 20px;
        text-transform: capitalize;
    }
  }
}
