.homepage {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;

  .container {
    height: auto;
    border: 8px solid #075864;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 40px;
    box-sizing: border-box;
    h2 {
      color: white;
      margin: 1rem;
      padding: 8px 20px;
      width: auto;
      background-color: rgb(83, 5, 99);
      text-transform: capitalize;
    }
  }
}
